<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sakura.mapper.PaperdetailsMapper" >
  <resultMap id="BaseResultMap" type="com.sakura.pojo.Paperdetails" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="qid" property="qid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="tanswer" property="tanswer" jdbcType="CHAR" />
    <result column="fanswer" property="fanswer" jdbcType="CHAR" />
    <result column="cid" property="cid" jdbcType="BIGINT" />
    <result column="cname" property="cname" jdbcType="CHAR" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="adddate" property="adddate" jdbcType="DATE" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="pname" property="pname" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, qid, name, tanswer, fanswer, cid, cname, score, adddate, state, pid, pname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sakura.pojo.PaperdetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from paperdetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from paperdetails
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from paperdetails
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sakura.pojo.PaperdetailsExample" >
    delete from paperdetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sakura.pojo.Paperdetails" >
    insert into paperdetails (id, qid, name, tanswer, 
      fanswer, cid, cname, score, 
      adddate, state, pid, pname
      )
    values (#{id,jdbcType=BIGINT}, #{qid,jdbcType=BIGINT}, #{name,jdbcType=CHAR}, #{tanswer,jdbcType=CHAR}, 
      #{fanswer,jdbcType=CHAR}, #{cid,jdbcType=BIGINT}, #{cname,jdbcType=CHAR}, #{score,jdbcType=DOUBLE}, 
      #{adddate,jdbcType=DATE}, #{state,jdbcType=INTEGER}, #{pid,jdbcType=BIGINT}, #{pname,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sakura.pojo.Paperdetails" >
    insert into paperdetails
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="qid != null" >
        qid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tanswer != null" >
        tanswer,
      </if>
      <if test="fanswer != null" >
        fanswer,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="adddate != null" >
        adddate,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="qid != null" >
        #{qid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="tanswer != null" >
        #{tanswer,jdbcType=CHAR},
      </if>
      <if test="fanswer != null" >
        #{fanswer,jdbcType=CHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=CHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="adddate != null" >
        #{adddate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sakura.pojo.PaperdetailsExample" resultType="java.lang.Integer" >
    select count(*) from paperdetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update paperdetails
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.qid != null" >
        qid = #{record.qid,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.tanswer != null" >
        tanswer = #{record.tanswer,jdbcType=CHAR},
      </if>
      <if test="record.fanswer != null" >
        fanswer = #{record.fanswer,jdbcType=CHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=BIGINT},
      </if>
      <if test="record.cname != null" >
        cname = #{record.cname,jdbcType=CHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=DOUBLE},
      </if>
      <if test="record.adddate != null" >
        adddate = #{record.adddate,jdbcType=DATE},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=BIGINT},
      </if>
      <if test="record.pname != null" >
        pname = #{record.pname,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update paperdetails
    set id = #{record.id,jdbcType=BIGINT},
      qid = #{record.qid,jdbcType=BIGINT},
      name = #{record.name,jdbcType=CHAR},
      tanswer = #{record.tanswer,jdbcType=CHAR},
      fanswer = #{record.fanswer,jdbcType=CHAR},
      cid = #{record.cid,jdbcType=BIGINT},
      cname = #{record.cname,jdbcType=CHAR},
      score = #{record.score,jdbcType=DOUBLE},
      adddate = #{record.adddate,jdbcType=DATE},
      state = #{record.state,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=BIGINT},
      pname = #{record.pname,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sakura.pojo.Paperdetails" >
    update paperdetails
    <set >
      <if test="qid != null" >
        qid = #{qid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="tanswer != null" >
        tanswer = #{tanswer,jdbcType=CHAR},
      </if>
      <if test="fanswer != null" >
        fanswer = #{fanswer,jdbcType=CHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=CHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="adddate != null" >
        adddate = #{adddate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sakura.pojo.Paperdetails" >
    update paperdetails
    set qid = #{qid,jdbcType=BIGINT},
      name = #{name,jdbcType=CHAR},
      tanswer = #{tanswer,jdbcType=CHAR},
      fanswer = #{fanswer,jdbcType=CHAR},
      cid = #{cid,jdbcType=BIGINT},
      cname = #{cname,jdbcType=CHAR},
      score = #{score,jdbcType=DOUBLE},
      adddate = #{adddate,jdbcType=DATE},
      state = #{state,jdbcType=INTEGER},
      pid = #{pid,jdbcType=BIGINT},
      pname = #{pname,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>